*{
    margin: 0;
    padding: 0;
  }
  body {margin: 0;
    font-family: "Roboto Light", "Ubuntu Light", "Ubuntu", monospace;
    background-color: #E4F1F6;
    font-size: large;
  }
  
  textarea {
    resize: none;
    width: 100%;
  }

  header{
    background-color: #1A3E4C;
    color: white;
    padding: 20px;
    width: 100%;
    z-index: 3;
    position: sticky;
    top: 0;
  }
  
  header img{
    padding-left: 10px;
    padding-right: 10px;
    float: left ;
    width: 50px;
    height: 50px;
    object-fit: contain;
  }
  
  div.action{
    padding: 20px;
  }
  
  div.content {
    position: relative;
    padding: 30px;
    padding: 1px 16px;
    text-align: center;
    margin-top: 10px;

  }
  
  @media screen and (max-width: 900px) {
    ul.sidenav {
      width: 100%;
      height: auto;
      position: relative;
    }
  
    ul.sidenav li a {
      float: left;
      padding: 15px;
    }
    div.content {margin-left: 0;}
  }
  
  @media screen and (max-width: 400px) {
    ul.sidenav li a {
      text-align: center;
      float: none;
    }
  }
  
  .login-page {
    width: 360px;
    padding: 8% 0 0;
    margin: auto;
  }
  
  .form {
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  }
  .form input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
  }
  .form button {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #347B98;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    cursor: pointer;
  }
  .form button:hover,.form button:active,.form button:focus {
    background: #1A3E4C;
  }
  .form .message {
    margin: 15px 0 0;
    color: #b3b3b3;
    font-size: 12px;
  }
  .form .message a {
    color: #347B98;
    text-decoration: none;
  }
  .container {
    z-index: 1;
    position: center;
    margin: 0 auto;
  }
  .container .info {
    margin: 50px auto;
    text-align: center;
  }
  .container .info h1 {
    margin: 0 0 15px;
    padding: 0;
    font-size: 36px;
    font-weight: 300;
    color: #1a1a1a;
  }
  .container .info span {
    color: #4d4d4d;
    font-size: 12px;
  }
  .container .info span a {
    color: #000000;
    text-decoration: none;
  }
  .container .info span .fa {
    color: #EF3B3A;
  }
  
  .actionform {
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    margin: 0 auto 100px;
    max-width: 600px;
    max-height: 400px;
    padding: 40px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  }
  .actionform input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
  }
  .actionform button {
    text-transform: uppercase;
    outline: 0;
    background: #347B98;
    border: 0;
    padding: 20px;
    color: #FFFFFF;
    font-size: 14px;
    cursor: pointer;
    margin: 20px;
  }
  .actionform button:hover,.form button:active,.form button:focus {
    background: #1A3E4C;
  }
  .actionform .message {
    margin: 15px 0 0;
    color: #b3b3b3;
    font-size: 12px;
  }
  .actionform .message a {
    color: #347B98;
    text-decoration: none;
  }

  